/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Feb-2017, 13:35:24
    Author     : shane
*/


.button{
    
    -fx-background-color: #2fd179;
}

.button:hover{
    -fx-text-fill: whitesmoke;
}